<div class="login-page signup-page">
    <div class="signupwhite">
        <div *ngIf="changedSuccess">
            <div class="text-center toplogo">
                <img src="assets/images/login-logo.jpg" class="img-fluid" />
            </div>
        </div>

        <div *ngIf="!changedSuccess">
            <form [formGroup]="changepasswordForm" (ngSubmit)="onSubmit()">
                <div class="changebackBtn"><a href="javascript:void(0)"><i class="fa fa-angle-left"></i> Back</a></div>
                <div class="password-changed pt-5"> 
                    <h2 class="pt-5">Change Your Password</h2>
                </div>
                <div class="form-content mt-4">
                    <div class="form-group  text-left">
                        <input type="password" formControlName="password" class="form-control input-underline input-lg"
                            placeholder="{{ 'Password' | translate }}" />
                        <div class="invalid-feedback-show" *ngIf="
                            isSubmitted &&
                            changepasswordForm.get('password').value.length === 0
                        ">
                            {{ 'password is required' | translate }}
                        </div>
                    </div>

                </div>
                <div class="form-content">
                    <div class="form-group  text-left">
                        <input type="password" formControlName="new_password"
                            class="form-control input-underline input-lg"
                            placeholder="{{ 'New Password' | translate }}" />
                        <div class="invalid-feedback-show" *ngIf="
                        isSubmitted &&
                        changepasswordForm.get('new_password').value.length ===
                            0
                    ">
                            {{ 'New password is required' | translate }}
                        </div>
                        <div *ngIf="
                        isSubmitted &&
                        changepasswordForm.get('new_password').value.length !==
                            0 &&
                        changepasswordForm.get('new_password').value.length < 4
                    " class="invalid-feedback-show">
                            {{ 'Password must be minimum 3 Characters' | translate }}
                        </div>
                    </div>


                </div>
                <div class="form-content">
                    <div class="form-group text-left">
                        <input type="password" formControlName="confirm_password"
                            class="form-control input-underline input-lg"
                            placeholder="{{ 'Confirm Password' | translate }}" />
                        <div class="invalid-feedback-show" *ngIf="
                            isSubmitted &&
                            changepasswordForm.get('confirm_password').value
                                .length === 0
                        ">
                            {{ 'Confirm password is required' | translate }}
                        </div>
                        <div *ngIf="
                            isSubmitted &&
                            changepasswordForm.get('confirm_password').value
                                .length !== 0 &&
                            changepasswordForm.get('confirm_password').value
                                .length < 4
                        " class="invalid-feedback-show">
                            {{
                            'Confirm Password must be minimum 3 Characters'
                                | translate
                        }}
                        </div>
                        <div *ngIf="
                            isSubmitted &&
                            changepasswordForm.get('confirm_password').value
                                .length >= 6 &&
                            changepasswordForm.get('new_password').value !==
                                changepasswordForm.get('confirm_password').value
                        " class="invalid-feedback-show">
                            {{
                            'Password and Confirm Password should match.'
                                | translate
                        }}
                        </div>
                    </div>

                </div>
                <div class="login-actions">
                    <button class="btn register-btn" type="submit">
                        {{ 'Reset Password' | translate }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>